.task-container {
  .card {
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .list-group-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .task-header {
      display: flex;
      align-items: center;
      width: 100%;
    }

    .task-header .task-info {
      flex-grow: 1;
    }

    input[type='checkbox'] {
      margin-right: 10px;
    }

    .badge {
      margin-left: auto;
    }
  }

  button {
    border-radius: 0.5rem;
    font-weight: bold;
  }
}
